<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="css/icon.jpg">

    <title>pet shop</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/angular-ui-router.min.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-app="petShopModule" ng-controller="indexController">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" ui-sref="marketView">Pet Shop</a>
    <input class="form-control form-control-dark w-100" type="text"
           placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" ui-sref="loginView"
               ng-if="loginedAccount.accountLevel===-1">Sign In</a>
            <a class="nav-link" href="#" ng-if="loginedAccount.accountLevel>-1"
               ng-click="signOutClick()">Sign Out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" ui-sref="marketView" ui-sref-active="active" ng-click="getMerchandiseListFun()">商城</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="trolleyView" ng-if="loginedAccount.accountLevel===1">购物车</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="indentView" ng-if="loginedAccount.accountLevel===1">我的订单</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="pointView" ng-if="loginedAccount.accountLevel===1">我的积分</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="myPetsView" ng-if="loginedAccount.accountLevel===1">我的爱宠</a>
                    </li>
                </ul>
                <div ng-if="loginedAccount.accountLevel===2">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>seller</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="merchandiseView">我的商品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="copeIndentView">订单处理</a>
                        </li>
                    </ul>
                </div>
                <div ng-if="loginedAccount.accountLevel===0">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>worker</span>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="waitingAccountView">待审核账号</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" ui-sref="pointMerchandiseView">管理积分商品</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <!--<h1 class="h2">Dashboard</h1>-->
                <!--<div class="btn-toolbar mb-2 mb-md-0">-->
                    <!--<div class="btn-group mr-2">-->
                        <!--<button class="btn btn-sm btn-outline-secondary">Share</button>-->
                        <!--<button class="btn btn-sm btn-outline-secondary">Export</button>-->
                    <!--</div>-->
                    <!--<button class="btn btn-sm btn-outline-secondary dropdown-toggle">-->
                        <!--<span data-feather="calendar"></span>-->
                        <!--This week-->
                    <!--</button>-->
                <!--</div>-->
            <ui-view></ui-view>
        </main>
    </div>
</div>
</body>
</html>
