<div ng-controller="marketController">
    <h1 class="h2">商城</h1>
    <table class="table table-hover">
        <tr>
            <td align="center" ng-if="loginedAccount.accountLevel===0">商品编号</td>
            <td align="center">商家名</td>
            <td align="center">商品名</td>
            <td align="center">商品类别</td>
            <td align="center">单价</td>
            <td align="center" ng-if="loginedAccount.accountLevel===1">购买数量</td>
        </tr>
        <tr ng-repeat="merchandise in merchandiseList" ng-if="merchandiseList.length>0">
            <td align="center" ng-if="loginedAccount.accountLevel===0">{{merchandise.merchandiseId}}</td>
            <td align="center">{{merchandise.sellerNickName}}</td>
            <td align="center">{{merchandise.merchandiseName}}</td>
            <td align="center">
                <div ng-if="merchandise.tag===1">宠物</div>
                <div ng-if="merchandise.tag===2">宠物粮食</div>
                <div ng-if="merchandise.tag===3">宠物用具</div>
            </td>
            <td align="center">{{merchandise.price}}</td>
            <td align="center" ng-init="number=0"  ng-if="loginedAccount.accountLevel===1">
                <button ng-click="number=number+1">+</button>
                <span>{{number}}</span>
                <button ng-click="number=number-1" ng-disabled="number<=0">-</button>
                <button ng-click="addMerchandiseToTrolley(merchandise,number)" ng-disabled="number<1">加入购物车</button>
            </td>
        </tr>
    </table>
</div>
