<div style="width: 40% ;margin: auto" class="text-center">
    <form id="registerForm" name="registerForm" ng-controller="registerController">
        <img class="mb-4 align-items-center" src="css/icon.jpg" alt="err" width="90" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
        <label for="inputPhoneNumber" class="sr-only">PhoneNumber</label>
        <input type="text" id="inputPhoneNumber" class="form-control"
               placeholder="Your PhoneNumber"
               ng-model="registerAccount.phoneNumber"
               pattern="\d{11}"
               required autofocus><br/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword"
               ng-model="registerAccount.password" class="form-control"
               placeholder="Password" required><br/>
        <label for="inputNickName" class="sr-only">NickName</label>
        <input type="text" id="inputNickName"
               ng-model="registerAccount.nickName" class="form-control"
               placeholder="Like:John Bob" required><br/>
        <input type="radio" checked
               ng-model="registerAccount.accountLevel"
               name="accountLevel" id="accountLevel-1" value="1" required/>
        <label for="accountLevel-1">普通用户</label>
        <input type="radio"
               ng-model="registerAccount.accountLevel"
               name="accountLevel" id="accountLevel-2" value="2" required/>
        <label for="accountLevel-2">商家</label><br/>
        <div class="mb-3">
            <label>
                <a ui-sref="loginView">Login</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block"
                ng-disabled="registerForm.$invalid"
                ng-click="registerClick(registerAccount)">Sign Up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</div>

<script src="js/account.js"></script>